<div class="app-body">

    <!-- Row starts -->
    <div class="row gx-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Ajouter un patient</h5>
          </div>
          <div class="card-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a1">Nom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="a1" placeholder="Enter First Name">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a2">Prenom <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="a2" placeholder="Enter Last Name">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a3">Age <span class="text-danger">*</span></label>
                  <select class="form-select" id="a3">
                    <option value="0">Select Age</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="selectGender1">Genre <span
                      class="text-danger">*</span></label>
                  <div class="m-0">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="selectGenderOptions" id="selectGender1"
                        value="male">
                      <label class="form-check-label" for="selectGender1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="selectGenderOptions" id="selectGender2"
                        value="female">
                      <label class="form-check-label" for="selectGender2">Female</label>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a5">Email<span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="a5" placeholder="Enter Email ID">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a6">Telephone<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="a6" placeholder="Enter Mobile Number">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a8">Fonction</label>
                  <select class="form-select" id="a8">
                    <option value="0">Select</option>
                    <option value="1">Teacher</option>
                    <option value="2">Engineer</option>
                    <option value="3">Business</option>
                    <option value="4">Bank</option>
                    <option value="5">Army</option>
                  </select>
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a9">Groupe sanguin <span class="text-danger">*</span></label>
                  <select class="form-select" id="a9">
                    <option value="0">Select</option>
                    <option value="1">A+</option>
                    <option value="2">A-</option>
                    <option value="3">B+</option>
                    <option value="4">B-</option>
                    <option value="5">O+</option>
                    <option value="6">O-</option>
                    <option value="7">AB+</option>
                    <option value="8">AB-</option>
                  </select>
                </div>
              </div>
              
            
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a12">Adresse</label>
                  <input type="text" class="form-control" id="a12" placeholder="Enter Address">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a13">City</label>
                  <input type="text" class="form-control" id="a13" placeholder="Enter City">
                </div>
              </div>
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="a14">State</label>
                  <select class="form-select" id="a14">
                    <option value="0">Select</option>
                    <option value="1">Alabama</option>
                    <option value="2">Alaska</option>
                    <option value="3">Arizona</option>
                    <option value="4">California</option>
                    <option value="5">Florida</option>
                  </select>
                </div>
              </div>
              
              <!--  -->
              <div class="col-sm-12">
                <div class="d-flex gap-2 justify-content-end">
                  <a href="patients-list.html" type="button" class="btn btn-outline-secondary">
                    Reinstialiser
                  </a>
                  <a href="patients-list.html" type="button" class="btn btn-primary">
                    Créer le Patient
                  </a>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->

  </div>